{
    "gateway": {
        "id": "<gateway id>",
        "token": "<token>"
    },
    "server": {
        "auth": "<generate a new token>"
    },
    "googleHome": {
        "host": "192.168.xxx.xxx",
        "lang": "en",
        "phrase": {
            "getTemperature": "The temperature is $ degree",
            "getHumidity": "The humidity level is $ percent"
        }
    }
}
